<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <servlet-name>Client</servlet-name>
    <servlet-class>serv.Controller_Client</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client</servlet-name>
    <url-pattern>/Client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insert_Vol</servlet-name>
    <servlet-class>serv.Controller_Insert_Vol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_Vol</servlet-name>
    <url-pattern>/Insert_Vol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Administration</servlet-name>
    <servlet-class>serv.Controller_Vol_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/Administration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Controller_Admin</servlet-name>
    <servlet-class>serv.Controller_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller_Admin</servlet-name>
    <url-pattern>/Controller_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Controller_Validation</servlet-name>
    <servlet-class>serv.Controller_Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller_Validation</servlet-name>
    <url-pattern>/Controller_Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Controller_Employer</servlet-name>
    <servlet-class>serv.Controller_Plan_Vol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller_Employer</servlet-name>
    <url-pattern>/Controller_Plan_Vol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller_Emp</display-name>
    <servlet-name>Controller_Emp</servlet-name>
    <servlet-class>serv.Controller_Emp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller_Emp</servlet-name>
    <url-pattern>/Controller_Emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller_Login</display-name>
    <servlet-name>Controller_Login</servlet-name>
    <servlet-class>serv.Controller_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller_Login</servlet-name>
    <url-pattern>/Controller_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller_Index</display-name>
    <servlet-name>Controller_Index</servlet-name>
    <servlet-class>serv.Controller_Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller_Index</servlet-name>
    <url-pattern>/Controller_Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller_Inscription</display-name>
    <servlet-name>Controller_Inscription</servlet-name>
    <servlet-class>serv.Controller_Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller_Inscription</servlet-name>
    <url-pattern>/Controller_Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller_Show_Inscription</display-name>
    <servlet-name>Controller_Show_Inscription</servlet-name>
    <servlet-class>serv.Controller_Show_Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller_Show_Inscription</servlet-name>
    <url-pattern>/Controller_Show_Inscription</url-pattern>
  </servlet-mapping>
</web-app>